Source: bigbluebutton
Priority: extra
Section: default
Maintainer: Brent Baccala <cosine@freesoft.org>
Standards-Version: 4.0.0
Homepage: http://bigbluebutton.org/

Package: bbb-html5
Architecture: amd64
Depends: bbb-webrtc-sfu,yq,bbb-etherpad,bbb-web
Description: The HTML5 components for BigBlueButton
