Source: bigbluebutton
Priority: extra
Section: default
Maintainer: Brent Baccala <cosine@freesoft.org>
Standards-Version: 4.0.0
Homepage: http://bigbluebutton.org/
Build-Depends: dh-exec

Package: bbb-html5
Architecture: amd64
Depends: bbb-webrtc-sfu,bc,yq,bbb-etherpad,bbb-web
Description: The HTML5 components for BigBlueButton

Package: bbb-apps-akka
Architecture: all
Depends: java8-runtime-headless, bash
Description: BigBlueButton Apps (Akka)
 BigBlueButton Core Apps in Akka.

Package: bbb-web
Architecture: all
Depends: zip,unzip,imagemagick,redis-server,xpdf-utils,bbb-libreoffice-docker,psmisc,fonts-crosextra-carlito,fonts-crosextra-caladea,fonts-noto
Description: BigBlueButton API

Package: bbb-freeswitch-core
Architecture: amd64
Depends: xmlstarlet,libfreetype6,libcurl4,libspeex1,libspeexdsp1,libopus0,libsndfile1,libopusenc0,libopusfile0,liblua5.2-0,libjbig0,libldns2,bbb-freeswitch-sounds
Description: BigBlueButton build of FreeSWITCH
