#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build-arch:
	# Download the upstream version of bbb-freeswitch-core and unpack it in debian/tmp
	mkdir -p debian/tmp/bbb-freeswitch-core
	wget --quiet -O- https://ubuntu.bigbluebutton.org/bionic-230-dev/$$(wget --quiet -O- https://ubuntu.bigbluebutton.org/bionic-230-dev/dists/bigbluebutton-bionic/main/binary-amd64/Packages | grep bbb-freeswitch-core | grep Filename: | cut -d ' ' -f 2) | dpkg-deb -x - debian/tmp/bbb-freeswitch-core
	rm -r debian/tmp/bbb-freeswitch-core/usr/share/doc

	cd bigbluebutton-html5; npm install
	cd bigbluebutton-html5; meteor build --directory ../debian/tmp/bigbluebutton-html5
	cd debian/tmp/bigbluebutton-html5/bundle/programs/server; npm install

override_dh_auto_build-indep:
	cd bbb-common-message; ./deploy.sh
	cd akka-bbb-apps; sbt clean stage

	cd bbb-common-web; ./deploy.sh
	cd bigbluebutton-web; ./build.sh; grails dev assemble
	cd bigbluebutton-web/pres-checker; gradle clean; gradle jar; gradle resolveDeps
	mkdir -p debian/tmp/bbb-web/usr/share/bbb-web
	unzip bigbluebutton-web/build/libs/*.war -d debian/tmp/bbb-web/usr/share/bbb-web

# This is here to prevent removal of debian/tmp during the install step.
override_dh_prep:

# This is here to prevent breakage of dh_usrlocal due to the presence of /usr/local/bin/fs_clibbb
override_dh_usrlocal:

# The node module 'fibers' contains executables for various different architectures that
# break auto-detecting shared library dependencies.
override_dh_shlibdeps:
