#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cd bigbluebutton-html5; meteor build --directory ../debian/tmp/bigbluebutton-html5
	cd debian/tmp/bigbluebutton-html5/bundle/programs/server; npm install

	cd bbb-common-message; ./deploy.sh
	cd akka-bbb-apps; sbt clean stage

	cd bbb-common-web; ./deploy.sh
	cd bigbluebutton-web; ./build.sh; grails dev assemble
	cd bigbluebutton-web/pres-checker; gradle clean; gradle jar; gradle resolveDeps
	mkdir -p debian/tmp/bbb-web/usr/share/bbb-web
	unzip bigbluebutton-web/build/libs/*.war -d debian/tmp/bbb-web/usr/share/bbb-web

# This is here to prevent removal of debian/tmp during the install step.
override_dh_prep:

# The node module 'fibers' contains executables for various different architectures that
# break auto-detecting shared library dependencies.
override_dh_shlibdeps:
